<div class="container-lg p-0">
  <div class="row">
    <div class="col-1 p-3 text-center">
      <div class="bg-success">col-1</div>
    </div>
    <div class="col-1 p-3 text-center">
      <div class="bg-success">col-1</div>
    </div>
    <div class="col-1 p-3 text-center">
      <div class="bg-success">col-1</div>
    </div>
    <div class="col-1 p-3 text-center">
      <div class="bg-success">col-1</div>
    </div>
    <div class="col-1 p-3 text-center">
      <div class="bg-success">col-1</div>
    </div>
    <div class="col-1 p-3 text-center">
      <div class="bg-success">col-1</div>
    </div>
    <div class="col-1 p-3 text-center">
      <div class="bg-success">col-1</div>
    </div>
    <div class="col-1 p-3 text-center">
      <div class="bg-success">col-1</div>
    </div>
    <div class="col-1 p-3 text-center">
      <div class="bg-success">col-1</div>
    </div>
    <div class="col-1 p-3 text-center">
      <div class="bg-success">col-1</div>
    </div>
    <div class="col-1 p-3 text-center">
      <div class="bg-success">col-1</div>
    </div>
    <div class="col-1 p-3 text-center">
      <div class="bg-success">col-1</div>
    </div>
  </div>
  <div class="row">
    <div class="col-2 p-3 text-center pw">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Pill-1</h5>
          <p class="card-text">Some quick example text to build on the card title.</p>
        </div>
      </div>
    </div>
    <div class="col-2 p-3 text-center pw">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Pill-2</h5>
          <p class="card-text">Some quick example text to build on the card title.</p>
        </div>
      </div>
    </div>
    <div class="col-2 p-3 text-center pw">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Pill-3</h5>
          <p class="card-text">Some quick example text to build on the card title.</p>
        </div>
      </div>
    </div>
    <div class="col-2 p-3 text-center pw">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Pill-4</h5>
          <p class="card-text">Some quick example text to build on the card title.</p>
        </div>
      </div>
    </div>
    <div class="col-2 p-3 text-center pw">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Pill-5</h5>
          <p class="card-text">Some quick example text to build on the card title.</p>
        </div>
      </div>
    </div>
    <div class="col-2 p-3 text-center pw">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Pill-6</h5>
          <p class="card-text">Some quick example text to build on the card title.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4 p-3 text-center pw-2">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Pill-1</h5>
          <p class="card-text">Some quick example text to build on the card title.</p>
        </div>
      </div>
    </div>
    <div class="col-4 p-3 text-center pw-2">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Pill-2</h5>
          <p class="card-text">Some quick example text to build on the card title.</p>
        </div>
      </div>
    </div>
    <div class="col-4 p-3 text-center pw-2">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Pill-3</h5>
          <p class="card-text">Some quick example text to build on the card title.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6 p-3 text-center pw-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Pill-1</h5>
          <p class="card-text">Some quick example text to build on the card title.</p>
        </div>
      </div>
    </div>
    <div class="col-6 p-3 text-center pw-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Pill-2</h5>
          <p class="card-text">Some quick example text to build on the card title.</p>
        </div>
      </div>
    </div>
  </div>
</div>
