<!--<div class="container-fluid p-0 bg-light vw-100">-->
<!--  <div class="row vw-100 min-vh-100">-->
<!--    <div class="col-md-auto p-0">-->
<!--      <app-sidebar></app-sidebar>-->
<!--    </div>-->
<!--    <div class="col col-lg-10 p-0 mx-auto">-->
<!--      <div class="row">-->
<!--        <app-header></app-header>-->
<!--        <router-outlet></router-outlet>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<div class="d-flex w-100 align-items-stretch">

  <!-- Sidebar -->
  <app-sidebar></app-sidebar>

  <!-- Page Content -->
  <div id="content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <button type="button" id="sidebarCollapse" class="btn btn-info">
          <i class="fas fa-align-left"></i>
          <span>Toggle Sidebar</span>
        </button>
      </div>
    </nav>
    <router-outlet></router-outlet>
  </div>

</div>
