<div class="container d-flex flex-column pb-5">
  <div class="row w-100">
    <div class="fs-4 fw-bold">
      <p class="m-0 py-4">All workspaces</p>
    </div>
    <div class="col col-auto">
      <ld-card [cardConfig]="customCardSettings1">
        1
      </ld-card>
    </div>
    <div class="col col-auto">
      <ld-card [cardConfig]="customCardSettings2">
        2
      </ld-card>
    </div>
    <div class="col col-auto d-none d-md-block">
      <ld-card [cardConfig]="customCardSettings3">
        3
      </ld-card>
    </div>
    <div class="col col-auto d-none d-lg-block">
      <ld-card [cardConfig]="customCardSettings4">
        4
      </ld-card>
    </div>
    <div class="col col-auto d-none d-xl-block">
      <ld-card [cardConfig]="customCardSettings5">
        5
      </ld-card>
    </div>
    <div class="col col-auto d-flex align-items-center d-xl-none">
      <button class="btn btn-circle btn-white border border-white m-1">
        <svg class="btn__icon" version="1.1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <title>arrow_forward</title>
          <path d="M12 3.984l8.016 8.016-8.016 8.016-1.406-1.406 5.578-5.625h-12.188v-1.969h12.188l-5.578-5.625z"></path>
        </svg>
      </button>
    </div>
  </div>

  <div class="row w-100 mt-4">
    <div class="col col-auto mb-4">
      <ld-card [cardConfig]="customCardSettings6">6</ld-card>
    </div>
    <div class="col-8 col-sm-9 col-md-6 col-lg-5 col-xl-4 col-auto">
      <div class="row">
        <div class="col col-auto mb-4">
          <ld-card [cardConfig]="customCardSettings7">
            <span class="text-white text-center">7</span>
            <div class="row px-4 py-2 bg-secondary row-rounded__bottom">
              <div class="col-6 text-white fw-light px-2">
                <span class="fs-10">Participants with a balance</span>
                <br>
                <span class="fs-8">9,876</span>
              </div>
              <div class="col-6 text-white fw-light px-2">
                <span class="fs-10">Total balance</span>
                <br>
                <span class="fs-8">$459,876,892.36</span>
              </div>
            </div>
          </ld-card>
        </div>
        <div class="col col-auto">
          <ld-card [cardConfig]="customCardSettings8">
            <div class="cta">
              <p class="fs-6 fw-bold text-black text-left px-3">
                <span class="text-primary">How to</span>
                automate your payroll
              </p>
            </div>
          </ld-card>
        </div>
        <div class="col col-sm-auto col-md-auto">
          <ld-card #ldCard [cardConfig]="customCardSettings9">
            <label class="position-absolute top-0 start-0 py-3 px-3 fs-6 text-white fw-light">87%</label>
            <label class="position-absolute top-50 start-50 translate-middle fs-10 text-center text-white fw-light">Retirement readiness</label>
            <ag-charts-angular
              [options]="optionsDoughnut"
            ></ag-charts-angular>
          </ld-card>
        </div>
      </div>
    </div>
  </div>
</div>

