<div class="container pb-5">
  <div class="row">
    <div class="col-md-10 col-xl-12">
      <div class="row row-cols-auto row-cols-md-auto row-cols-md-4 row-cols-lg-auto row-cols-lg-5">
        <div class="col col-md-auto col-lg-auto mb-4 mb-xl-0">
          <ld-card [cardConfig]="customCardSettings1">
            1
          </ld-card>
        </div>
        <div class="col col-md-auto col-lg-auto">
          <ld-card [cardConfig]="customCardSettings2">
            2
          </ld-card>
        </div>
        <div class="col col-md-auto col-lg-auto mb-4 mb-xl-0">
          <ld-card [cardConfig]="customCardSettings3">
            3
          </ld-card>
        </div>
        <div class="col col-md-auto col-lg-auto">
          <ld-card [cardConfig]="customCardSettings4">
            4
          </ld-card>
        </div>
        <div class="col col-md-auto col-lg-auto">
          <ld-card [cardConfig]="customCardSettings5">
            5
          </ld-card>
        </div>
        <div class="col col-md-auto col-lg-auto d-flex align-items-center">
          <button class="btn btn-circle btn-white border border-white m-1">
            <svg class="btn__icon" version="1.1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <title>arrow_forward</title>
              <path d="M12 3.984l8.016 8.016-8.016 8.016-1.406-1.406 5.578-5.625h-12.188v-1.969h12.188l-5.578-5.625z"></path>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-cols-auto row-cols-sm-1 row-cols-md-2 mt-4">
    <div class="col col-md-auto mb-4 mb-xl-0">
      <ld-card [cardConfig]="customCardSettings6">6</ld-card>
    </div>
    <div class="col col-md-auto">
      <div class="row row-cols-auto row-cols-1">
        <div class="col col-sm-auto col-md-auto">
          <ld-card [cardConfig]="customCardSettings7">
            7
          </ld-card>
        </div>
      </div>
      <div class="row row-cols-auto row-cols-2 mt-4">
        <div class="col col-sm-auto col-md-auto">
          <ld-card [cardConfig]="customCardSettings8">
            8
          </ld-card>
        </div>
        <div class="col col-sm-auto col-md-auto">
          <ld-card #ldCard [cardConfig]="customCardSettings9">
            9
          </ld-card>
        </div>
      </div>
    </div>
  </div>
</div>

