<div class="container-lg container-lg-px">
  <div class="row row-y-padding">
    <div class="col-1 text-center">
      <div class="bg-success">col-1</div>
    </div>
    <div class="col-1 text-center">
      <div class="bg-success">col-1</div>
    </div>
    <div class="col-1 text-center">
      <div class="bg-success">col-1</div>
    </div>
    <div class="col-1 text-center">
      <div class="bg-success">col-1</div>
    </div>
    <div class="col-1 text-center">
      <div class="bg-success">col-1</div>
    </div>
    <div class="col-1 text-center">
      <div class="bg-success">col-1</div>
    </div>
    <div class="col-1 text-center">
      <div class="bg-success">col-1</div>
    </div>
    <div class="col-1 text-center">
      <div class="bg-success">col-1</div>
    </div>
    <div class="col-1 text-center">
      <div class="bg-success">col-1</div>
    </div>
    <div class="col-1 text-center">
      <div class="bg-success">col-1</div>
    </div>
    <div class="col-1 text-center">
      <div class="bg-success">col-1</div>
    </div>
    <div class="col-1 text-center">
      <div class="bg-success">col-1</div>
    </div>
    <div class="col-1 text-center">
      <div class="bg-success">col-1</div>
    </div>
    <div class="col-1 text-center">
      <div class="bg-success">col-1</div>
    </div>
    <div class="col-1 text-center">
      <div class="bg-success">col-1</div>
    </div>
    <div class="col-1 text-center">
      <div class="bg-success">col-1</div>
    </div>
  </div>
  <div class="row row-y-padding">
    <div class="col-2 text-center pw">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Pill-1</h5>
          <p class="card-text">Some quick example text to build on.</p>
        </div>
      </div>
    </div>
    <div class="col-2 text-center pw">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Pill-2</h5>
          <p class="card-text">Some quick example text to build on.</p>
        </div>
      </div>
    </div>
    <div class="col-2 text-center pw">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Pill-3</h5>
          <p class="card-text">Some quick example text to build on.</p>
        </div>
      </div>
    </div>
    <div class="col-2 text-center pw">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Pill-4</h5>
          <p class="card-text">Some quick example text to build on.</p>
        </div>
      </div>
    </div>
    <div class="col-2 text-center pw">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Pill-5</h5>
          <p class="card-text">Some quick example text to build on.</p>
        </div>
      </div>
    </div>
    <div class="col-2 text-center pw">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Pill-6</h5>
          <p class="card-text">Some quick example text to build on.</p>
        </div>
      </div>
    </div>
    <div class="col-2 text-center pw">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Pill-7</h5>
          <p class="card-text">Some quick example text to build on.</p>
        </div>
      </div>
    </div>
    <div class="col-2 text-center pw">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Pill-8</h5>
          <p class="card-text">Some quick example text to build on.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-y-padding">
    <div class="col-4 text-center pw">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Pill-1</h5>
          <p class="card-text">Some quick example text to build on the card title.</p>
        </div>
      </div>
    </div>
    <div class="col-4 text-center pw">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Pill-2</h5>
          <p class="card-text">Some quick example text to build on the card title.</p>
        </div>
      </div>
    </div>
    <div class="col-4 text-center pw">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Pill-3</h5>
          <p class="card-text">Some quick example text to build on the card title.</p>
        </div>
      </div>
    </div>
    <div class="col-4 text-center pw">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Pill-4</h5>
          <p class="card-text">Some quick example text to build on the card title.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-y-padding">
    <div class="col-8 text-center pw-2">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Pill-1</h5>
          <p class="card-text">Some quick example text to build on the card title. Some quick example text. Some quick example text.</p>
        </div>
      </div>
    </div>
    <div class="col-4 text-center pw-2">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Pill-2</h5>
          <p class="card-text">Some quick example text to build on the card title.</p>
        </div>
      </div>
    </div>
    <div class="col-4 text-center pw-2">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Pill-2</h5>
          <p class="card-text">Some quick example text to build on the card title.</p>
        </div>
      </div>
    </div>
  </div>
</div>
